
.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.card{
  background-image: linear-gradient(rgb(179, 26, 255),rgb(26, 182, 255));
}

#video{
  position: fixed;
  z-index: -1;
  width: 100%;
}

.collection{
  background-image: linear-gradient(rgb(179, 26, 255),rgb(26, 182, 255));
}